<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Solver</title>
    <script src="{{url_for('static', filename='/js/htmx.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/pico.classless.css')}}" />
</head>
<body>
    <header>
        <h1>Sudoku Solver</h1>
    </header>
    <main>
        <form hx-post="/upload" hx-trigger="submit" enctype="multipart/form-data">
            <label for="file">Select a file:</label>
            <input type="file" id="file" name="file" required>
            <button type="submit">Upload</button>
        </form>
        <section id="result" hx-swap="outerHTML"></div>
    </main>
    <footer>
        Created by Satwik Satpathy & Devi Prasad
    </footer>
</body>
</html>
