<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Solver</title>
    <script src="{{url_for('static', filename='/js/htmx.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/pico.classless.css')}}" />
</head>
<body>
    <header>
        <h1>Sudoku Solver</h1>
    </header>
    <main>
        <form 
            hx-post="/upload" 
            hx-target="#result" 
            hx-trigger="submit" 
            hx-indicator="#indicator" 
            enctype="multipart/form-data"
        >
            <fieldset role="group">
                <label for="file">Select a file:</label>
                <input type="file" id="file" name="file" required>
                <button type="submit">Upload</button>
            </fieldset>
        </form>
        <div id="indicator" class="htmx-indicator">
            <span aria-busy="true">Loading your data</span>
            <progress></progress>
        </div>
        <section id="result"></div>
    </main>
    <footer>
        Created by Satwik Satpathy & Devi Prasad Panda
    </footer>
</body>
</html>
